@page "/administrative/employeeDetails/{employeeId:int}/{exitId:int}"
@inject IDbContextFactory<EmployeeManagerDbContext> ContextFactory
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>Излизане</PageTitle>

@*@if (Exit is null && !IsBusy)
{
    <div class="alert alert-danger">Излизане с Id @ExitId не беше намерено.</div>
}
else
{
    <ExitForm Exit="@Exit"
          Employee="@Employee"
          IsBusy="@IsBusy"
          OthersDropdown="@OthersDropdown"
          SelectedRecordTypeId="@SelectedRecordTypeId"
          NumberOfDays="@NumberOfDays"
          EndDate="@EndDate"
          OnSubmit="@HandleSubmit"
          OnDelete="@HandleDelete"
          OnCancel="@HandleCancel" />
}
<div>@(SelectedRecordTypeId == null)</div>
<div>@EndDate</div>
<div>@NumberOfDays</div>*@



@if (Exit is null && !IsBusy)
{
    <div class="alert alert-danger">Излизане с Id @ExitId не беше намерено.</div>
}
else if (Exit is not null)
{
    <EditForm Model="Exit" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>Служител: @Employee?.FirstName @Employee?.LastName</div>
        <br />
        <div class="col-md-6 border border-light">
            <h6 class="ms-3 mt-3" style="color:darkgray">Начало</h6>
            <br />
            <div class="pb-3 ms-3 d-md-flex justify-content-between">
                <div class="d-md-flex">
                    <label for="startDate" class="col-form-label">Дата:</label>
                    <InputDate Type="InputDateType.DateTimeLocal" id="startDateTime" class="form-control ms-2" @bind-Value="Exit.Start"></InputDate>
                </div>
                <br />
            </div>
        </div>
        <br />
        <div class="col-md-6 border border-light">
            <h6 class="ms-3 mt-3" style="color:darkgray">Край</h6>
            <br />
            <div class="pb-3 ms-3 d-md-flex justify-content-md-between">
                <div class="d-md-flex">
                    <label for="startDate" class="col-form-label">Дата: </label>
                    <InputDate Type="InputDateType.DateTimeLocal" id="endDateTime" class="form-control ms-2" onchange="@(EndDate = Exit.End)" @bind-Value="Exit.End"></InputDate>
                </div>
                <br />
            </div>
        </div>
        <br />
        <div class="ms-3 d-md-flex">
            <label for="others" class="form-label">Други: </label>
            <InputSelect class="ms-2 form-select-sm" id="others" @bind-Value="SelectedRecordTypeId">
                @if (OthersDropdown is not null)
                {
                    <option selected disabled hidden>Въведете</option>
                    @foreach (var record in OthersDropdown)
                    {
                        <option value="@record.Id">@(record.Name == "Работен ден" ? "Край на работен ден" : @record.Name)</option>
                    }
                }
            </InputSelect>
            @if (SelectedRecordTypeId != 1 && SelectedRecordTypeId != null)
            {
                <div>
                    <label for="numberOfDays" class="ms-3">Брой дни:</label>
                    <input id="numberOfDays" min="1" step="1" class="form-select-sm col-md-3 ms-2" @bind-value="NumberOfDays" type="number" />
                </div>
            }
        </div>
        <br />
        <div class="d-md-flex">
            <InputCheckbox class="ms-2 form-check-input" id="isPersonal" @bind-Value="Exit.IsPersonal"></InputCheckbox>
            <label for="isPersonal" class="form-label ms-2">Лично</label>
        </div>
        <br />
        <div class="d-grid">
            <label for="reason">Причина:</label>
            <InputTextArea id="reason" placeholder="Въведете текст (до 1000 символа)." rows="3" class="col-md-6" @bind-Value="Exit.Reason"></InputTextArea>
        </div>
        <br />
        <br />
        <div class="col-md-6 d-md-grid gap-md-5 d-md-flex justify-content-md-start">
            <button type="submit" class="btn btn-sm btn-outline-primary">Запази</button>
            <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => HandleDelete()">Изтрий</button>
            <button type="button" class="btn btn-sm btn-outline-secondary ms-5" @onclick="HandleCancel">Затвори</button>
        </div>
        <br />
    </EditForm>
}


@if (ErrorMessage is not null)
{
    <br />
    <div class="alert alert-danger">@ErrorMessage</div>
}

@code {
    [Parameter]
    public int EmployeeId { get; set; }

    [Parameter]
    public int ExitId { get; set; }

    private int? SelectedRecordTypeId { get; set; }

    private int NumberOfDays { get; set; } = 1;

    private Exit? Exit { get; set; }

    private Employee? Employee { get; set; }

    private WorkingDay? WorkingDay { get; set; }

    private IEnumerable<RecordType>? OthersDropdown { get; set; }

    private DateTime EndDate { get; set; }

    private bool IsBusy { get; set; }

    private string? ErrorMessage { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        using var context = ContextFactory.CreateDbContext();

        Exit = await context.Exits.FirstOrDefaultAsync(ex => ex.Id == ExitId);

        WorkingDay = await context.WorkingDays.FirstOrDefaultAsync(wd => wd.ExitId == ExitId);

        OthersDropdown = await context.RecordTypes.ToArrayAsync();

        Employee = await context.Employees
                                .AsNoTracking()
                                .Include(emp => emp.WorkingDays)
                                .Include(emp => emp.Exits)
                                .FirstOrDefaultAsync(emp => emp.Id == EmployeeId);
    }

    private async Task HandleSubmit(bool isValid)
    {
        if (Exit is null || IsBusy || !isValid)
        {
            ErrorMessage = null;
            return;
        }

        IsBusy = true;

        using var context = ContextFactory.CreateDbContext();
        int workingDayId = Exit.WorkingDayId;

        try
        {
            if (SelectedRecordTypeId == null)
            {
                if (Exit.Start.Date > Exit.End.Date)
                {
                    throw new ArgumentException("Датата за начало на излизането трябва да бъде по-малка от датата за край на излизането!");
                }

                if (Exit.Start.TimeOfDay > Exit.End.TimeOfDay)
                {
                    throw new ArgumentException("Часът за край на излизането трябва да бъде по-голям от часът за начало на излизането!");
                }

                context.Update(Exit);

            }
            else if (SelectedRecordTypeId == 1)
            {
                if (WorkingDay is not null)
                {
                    if (WorkingDay.Start > WorkingDay.End)
                    {
                        throw new ArgumentException("Датата и часът за край на работния трябва да бъдат по-големи от датата и часа за начало на работния ден!");
                    }

                    WorkingDay.End = EndDate;
                    context.Update(WorkingDay);

                    //Провери дали не променя изхода и дали не трябва да се запише тук и да се върне към началния екран!
                    // await context.SaveChanges();
                    // NavigateToOverview();
                }
            }
            else
            {
                if (WorkingDay is not null)
                {
                    for (var i = 0; i < NumberOfDays; i++)
                    {
                        var newWorkingDay = new WorkingDay
                            {
                                Start = DateTime.Today.AddDays(i) + new TimeSpan(9, 0, 0),
                                End = DateTime.Today.AddDays(i) + new TimeSpan(18, 0, 0),
                                RecordTypeId = (int)SelectedRecordTypeId,
                                EmployeeId = EmployeeId
                            };

                        context.Update(newWorkingDay);
                        await context.SaveChangesAsync();

                        //Провери дали не променя изхода и дали не трябва да се запише тук и да се върне към началния екран!
                        // NavigateToOverview();
                    }
                }
            }

            ErrorMessage = null;

            await context.SaveChangesAsync();

            NavigateToOverview();

        }
        catch (DbUpdateConcurrencyException)
        {
            ErrorMessage = "Излизането беше променено от друг администратор. Моля, презаредете страницата.";
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Грешка при записване на Излизане: {ex.Message}";
        }
        finally
        {
            IsBusy = false;
        }
    }

    private async Task HandleValidSubmit()
    {
        if (Exit is null || IsBusy)
        {
            ErrorMessage = null;
            return;
        }

        IsBusy = true;

        using var context = ContextFactory.CreateDbContext();
        int workingDayId = Exit.WorkingDayId;

        try
        {
            if (SelectedRecordTypeId == null)
            {
                if (Exit.Start.Date > Exit.End.Date)
                {
                    throw new ArgumentException("Датата за начало на излизането трябва да бъде по-малка от датата за край на излизането!");
                }

                if (Exit.Start.TimeOfDay > Exit.End.TimeOfDay)
                {
                    throw new ArgumentException("Часът за край на излизането трябва да бъде по-голям от часът за начало на излизането!");
                }

                if (Exit.Start.Date != Exit.End.Date)
                {
                    throw new ArgumentException("Датите за начало и край на излизането трябва да съвпадат!");
                }


                context.Update(Exit);
            }
            else if (SelectedRecordTypeId == 1)
            {
                if (WorkingDay is not null)
                {
                    if (WorkingDay.Start > WorkingDay.End)
                    {
                        throw new ArgumentException("Датата и часът за край на работния трябва да бъдат по-големи от датата и часа за начало на работния ден!");
                    }

                    WorkingDay.End = EndDate;
                    context.Update(WorkingDay);
                }
            }
            else
            {
                if (WorkingDay is not null)
                {
                    for (var i = 0; i < NumberOfDays; i++)
                    {
                        var newWorkingDay = new WorkingDay
                            {
                                Start = DateTime.Today.AddDays(i) + new TimeSpan(9, 0, 0),
                                End = DateTime.Today.AddDays(i) + new TimeSpan(18, 0, 0),
                                RecordTypeId = (int)SelectedRecordTypeId,
                                EmployeeId = EmployeeId
                            };

                        context.Update(newWorkingDay);
                        await context.SaveChangesAsync();
                    }
                }
            }

            ErrorMessage = null;

            await context.SaveChangesAsync();

            NavigateToOverview();

        }
        catch (DbUpdateConcurrencyException)
        {
            ErrorMessage = "Излизането беше променено от друг администратор. Моля, презаредете страницата.";
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Грешка при записване на Излизане: {ex.Message}";
        }
        finally
        {
            IsBusy = false;
        }
    }

    private void HandleInvalidSubmit()
    {

    }

    private async Task HandleDelete()
    {
        using var context = ContextFactory.CreateDbContext();
        var isOK = await JS.InvokeAsync<bool>("confirm", "Сигурни ли сте, че искате да изтриете текущото излизане?");

        if (isOK)
        {
            try
            {
                context.Exits.Remove(Exit!);
                await context.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException)
            {
                //текущото излизане вече е било изтрито от друг администратор
            }

            await LoadData();
            NavigateToOverview();
        }
    }

    private void HandleCancel()
    {
        NavigateToOverview();
    }

    private void NavigateToOverview()
    {
        NavigationManager.NavigateTo($"/administrative/employeeDetails/{EmployeeId}");
    }
}